
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<meta name="google-site-verification" content="fiqvDJD6h8Rvt_4Lqs1cenOMSOvr6M6hNVERKZaSF_A" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/tempus.css">

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/assets/js/main.js">

</script>

{% for tag in site.data.settings.favicon_meta_tags %}
  {{ tag | tagify }}
{% endfor %}
{% if page.seo_meta_tags %}
  {% for tag in page.seo_meta_tags %}
    {{ tag | tagify }}
  {% endfor %}
{% endif %}
