<ul id="about-drop" class="dropdown-content">
  <li>
    <a href="{{ url('about') }}">
      Company
    </a>
  </li>
  <li>
    <a href="{{ url('team') }}">
      Team
    </a>
  </li>
  <li>
    <a href="{{ url('employment') }}">
      Employment
    </a>
  </li>
</ul>
<nav class="mainnav">
 <div class="nav-wrapper">
   <ul id="nav-mobile" class="right">
     <li{% if page.url == "/"%} class="is-active"{% endif %}>
       <a href="/">
         Home
       </a>
     </li>

    <!--<li>
      <a href="{{ url('portfolio') }}">
          Portfolio
        </a>
    </li>-->
    <li>
      <a href="/services">
        Services
      </a>
    </li>
    <li{% if page.url == "/about"%} class="is-active"{% endif %}>
      <a href="/about">
        About
      </a>
    </li>
    <!--<li>
      <a class="dropdown-trigger" href="#!" data-target="about-drop">
        About
      </a>
    </li>-->
    <li>
      <a href="/contact">
        Contact
      </a>
     </li>
   </ul>
 </div>
</nav>
