---
layout: default
---

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ page.image | prepend: site.baseurl }}" alt="">
  </div>
</div>

<div class="container sidebyside">
  <span class="mainleft">
    {{ page.who }}
  </span>
  <span class="mainright">
    {{ page.what }}
  </span>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ page.image2 | prepend: site.baseurl }}" alt="">
  </div>
</div>

<div class="container quote">
  <span id="quoteholder" class="quoteholder"></span>
</div><!-- /quote container -->
