---
layout: default
---

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ page.image | prepend: site.baseurl }}" alt="">
  </div>
</div>

<div class="container">
  <div class="sidebyside lift">
    <span class="mainleft">
      {{ page.who }}
    </span>
    <span class="mainright">
      {{ page.what }}
    </span>
  </div>
  <ul class="services">
    <li>
      <img src="/assets/images/ent.jpg" width="300px" alt="">
      <span class="overlap">
        Concerts
      </span>
    </li>
    <li>
      <img src="/assets/images/livestream.jpg" width="300px" alt="">
      <span class="overlap">
        Livestreams
      </span>
    </li>
    <li>
      <img src="/assets/images/sport.jpg" width="300px" alt="">
      <span class="overlap">
        Sporting Events
      </span>
    </li>
    <li>
      <img src="/assets/images/award.jpg" width="300px" alt="">
      <span class="overlap">
        Award Ceremonies
      </span>
    </li>
  </ul>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ page.image2 | prepend: site.baseurl }}" alt="">
  </div>
</div>

<script>
  var quotes = [
  {% for record in page.testimonial %}
    <h4>
      {{ record.quote }}
    </h4>
      {{ record.name }}
  {% endfor %}
  ];
  $('#quoteholder').append(quotes[Math.floor(Math.random() * quotes.length)]);
</script>

<div class="container quote">
  <span id="quoteholder" class="quoteholder"></span>
</div><!-- /quote container -->

<div class="subfoot">
  <ul class="affilate">
    {% for record in page.affiliate %}
      <li>
        <img src="{{ record.url }}" height="50px" alt="{{ record.alt }}">
      </li>
    {% endfor %}
  </ul>
</div>
