---
layout: default
---

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ page.image | prepend: site.baseurl }}" alt="">
  </div>
</div>

<div class="container sidebyside lift">
  <span class="mainleft">
    {{ page.who }}
  </span>
  <span class="mainright">
    {{ page.what }}
  </span>
</div>

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ page.image2 | prepend: site.baseurl }}" alt="">
  </div>
</div>

<script>
  var quotes = [
  {% for record in page.testimonial %}
    <h4>
      {{ record.quote }}
    </h4>
      {{ record.name }}
  {% endfor %}
  ];
  $('#quoteholder').append(quotes[Math.floor(Math.random() * quotes.length)]);
</script>

<div class="container quote">
  <span id="quoteholder" class="quoteholder"></span>
</div><!-- /quote container -->

<div class="container">
  <ul>
    {% for record in page.affiliate %}
      <li>
        <img src="{{ record.url }}" height="100px" alt="{{ record.alt }}">
      </li>
    {% endfor %}
  </ul>
</div>
