---
layout: default
---

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ page.image }}" alt="">
  </div>
</div>
<article class="container">
  <h1>
    {{ page.title }}
  </h1>
      {{ page.content }}

    <ul class="gallery">
      {% for record in page.land_gallery %}
        <li>
          <img class="materialboxed lazy" data-caption="{{ record.title }}" width="350" height="250" data-src="{{ record.url }}">
        </li>
      {% endfor %}
    </ul>
    <ul>
      {% for record in page.port_gallery %}
        <li>
          <img class="materialboxed lazy" data-caption="{{ record.title }}" width="250" height="350" data-src="{{ record.url }}">
        </li>
      {% endfor %}
    </ul>


</article>
