---
layout: default
---

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ page.image }}" alt="">
  </div>
</div>
<article class="container">
  <h1>
    {{ page.title }}
  </h1>
      {{ page.content }}

    <ul class="gallery">
      <li>
        <img class="materialboxed" data-caption="" width="250" height="150" src="/assets/images/foilo/vv.jpg" />
      </li>
      <li>
        <img class="materialboxed" data-caption="" width="250" height="150" src="/assets/images/foilo/botanic.jpg" />
      </li>
      <li>
        <img class="materialboxed" data-caption="" width="250" height="150" src="/assets/images/foilo/corcoran.jpg" />
      </li>
      <li>
        <img class="materialboxed" data-caption="" width="250" height="150" src="/assets/images/foilo/mcm.jpg" />
      </li>
      <li>
        <img class="materialboxed" data-caption="" width="250" height="150" src="/assets/images/foilo/nhl_nye.jpg" />
      </li>
      <li>
        <img class="materialboxed" data-caption="" width="250" height="150" src="/assets/images/foilo/nike.jpg" />
      </li>
    </ul>

    {% assign portfolio_item = site.portfolio_items | sort: 'weight' %}
    {% for portfolio_item in portfiolio_items limit: 10 %}
        <img src="{{ portfolio_item.thumbnail_url }}">
    {% endfor %}
</article>
