---
layout: default
---

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ page.image }}" alt="">
  </div>
</div>
<article class="container">
  <h1>
    {{ page.title }}
  </h1>
      {{ page.content }}

    <ul class="gallery">
      <li>
        <img class="materialboxed" data-caption="" width="250" src="/assets/images/foilo/rbow_stage.jpg" />
      </li>
      <li>
        <img class="materialboxed" data-caption="" width="250" src="/assets/images/foilo/care_pano.jpg" />
      </li>
      <li>
        <img class="materialboxed" data-caption="" width="250" src="/assets/images/foilo/lasers.jpg" />
      </li>
      <li>
        <img class="materialboxed" data-caption="" width="250" src="/assets/images/foilo/smithcast.jpg" />
      </li>
      <li>
        <img class="materialboxed" data-caption="" width="250" src="/assets/images/foilo/starceiling.jpg" />
      </li>
      <li>
        <img class="materialboxed" data-caption="" width="250" src="/assets/images/foilo/vv.jpg" />
      </li>
    </ul>

</article>
