---
layout: default
---

<div class="parallax-container">
  <div class="parallax">
    <img src="{{ page.image | prepend: site.baseurl }}" alt="">
  </div>
</div>

<article class="container">
  <h1>
    {{ page.title }}
  </h1>
  <div class="sidebyside sidebarfixed">

    <div>
      <div class="collection table-of-contents stickbar">
        <a href="#audio" class="collection-item">Audio</a>
        <a href="#lighting" class="collection-item">Lighting</a>
        <a href="#video" class="collection-item">Video</a>
        <a href="#staging" class="collection-item">Staging</a>
      </div>
    </div>

    <div>
      <hr>
      <span id="audio" class="section scrollspy">
        <div class="card">
          <div class="card-image">
            <img src="/assets/images/console.jpg">
            <span class="card-title">
              <h3>
                Audio
              </h3>
            </span>
          </div>
        </div>
        <p>Every event is unique and will have its own set of audio challenges. Whether you require flyable speaker systems, on-stage monitor systems, feeds for media and broadcast, or clear audio for your CEO's address -- we have the experience and inventory to cover all of your audio needs and can design a system to meet the specifics of your event.
</p>
        <ul class="gearlist">

            <li>
              State-of-the-art equipment by Digidesign, Yamaha, Midas, EAW, Klarkteknik, and others
            </li>

            <li>
              Line Array / Flyable speaker systems
            </li>

            <li>
              Distributed speaker systems
            </li>

            <li>
              Digital and Analog Consoles
            </li>

            <li>
              Wireless, hard-wired, podium, band, and shotgun mic systems
            </li>

            <li>
              Monitor systems
            </li>

            <li>
              A FULL staff of audio engineers who can&#39;t wait to mix your next event
            </li>

        </ul>
      </span>

      <hr>
      <span id="lighting" class="section scrollspy">
        <div class="card">
          <div class="card-image">
            <img src="/assets/images/lasers.jpg">
            <span class="card-title">
              <h3>
                Lighting
              </h3>
            </span>
          </div>
        </div>
        <p>Whether lighting is used for setting moods or to showcase an important part of your event, it is one element of an event that people always remember. We carry a wide range of lighting and rigging products including truss systems, chain motors, conventional and moving lights, dimmer rack systems, uplighting and pinspots. Our lighting team will help you design the look you are after. We also make custom gobos (your organization's logo etched in metal or glass) to project on walls or set pieces.
</p>
        <ul class="gearlist">

            <li>
              Moving light fixtures
            </li>

            <li>
              Source four fixtures
            </li>

            <li>
              PAR lighting
            </li>

            <li>
              Genie towers
            </li>

            <li>
              Trussing
            </li>

            <li>
              Pipe &amp; Base
            </li>

            <li>
              Pinspots
            </li>

            <li>
              DJ lights / mirror balls
            </li>

            <li>
              Lighting controllers
            </li>

        </ul>
        <!--<ul class="gearlist">

            <li>
              Concerts
            </li>



            <li>
              Festivals
            </li>



            <li>
              Fashion shows
            </li>


        </ul>-->
      </span>

      <hr>
      <span id="video" class="section scrollspy">
        <div class="card">
          <div class="card-image">
            <img src="https://www.datocms-assets.com/8879/1551066533-exelis-2-1.jpeg">
            <span class="card-title">
              <h3>
                Video
              </h3>
            </span>
          </div>
        </div>
        <p>Video is a critical tool when you are trying to get your message across.	Whether you need to project your Powerpoint presentation for a meeting, provide an IMAG to an audience of several thousand people, or create a visual sensation for the audience -- our visual personnel have the experience and creativity when putting together your video production. As with all of the production elements, we custom design your video system to best meet the needs of your particular event.
</p>
        <ul class="gearlist">

            <li>
              IMAG (Image Magnification)
            </li>

            <li>
              Projection
            </li>

            <li>
              Multi-Camera shoots
            </li>

            <li>
              Video recording
            </li>

            <li>
              Post Production Video Editing
            </li>

            <li>
              Webcasting
            </li>

            <li>
              Video Display Monitors
            </li>

            <li>
              LCD &amp;DLP Projectors 1,500 to 20,000 lumens
            </li>

            <li>
              Switchers
            </li>

        </ul>
      </span>

      <hr>
      <span id="staging" class="section scrollspy">
        <div class="card scrollspy">
          <div class="card-image">
            <img src="/assets/images/staging.jpg">
            <span class="card-title">
              <h3>
                Staging
              </h3>
            </span>
          </div>
        </div>
        <p>Sometimes staging is the element that defines an event. We carry a wide range of staging to meet any application including: Modular or mobile stages, roofing systems, and hard sets. Our modular stages can be carpeted or covered with a variety of surfaces. We also carry an extensive inventory of pipe &amp; drape and soft goods.
</p>
        <ul class="gearlist">

            <li>
              Stage Set
            </li>

            <li>
              Backdrops
            </li>

            <li>
              Pipe &amp; Drape
            </li>

            <li>
              Podiums
            </li>

            <li>
              Generators
            </li>

            <li>
              Power distribution systems
            </li>

            <li>
              Yellow Jackets
            </li>

            <li>
              Speaker Scaffolding
            </li>

            <li>
              Dance Floors
            </li>

        </ul>
      </span>
    </div>
  </div>

</article>
